<!-- Describe task in general -->

<p>
    检查给定字符串中的所有符号是否大写。如果字符串为空或没有任何字母，函数应返回 <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>.
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>字符串<span translation="no">(str{% if is_js %}ing{% endif %}</span>)。
</p>

<p>
   <strong>输出：</strong>逻辑值<span translation="no">(bool{% if is_js %}</span> ean<span translation="no">{% endif %}). 
</span></p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
   <strong>前提条件：</strong>
   <i>a-z、A-Z、1-9 和空格</i>。
</p>
