<!-- Describe task in general -->

<p>
    Перевір, чи даний рядок має всі символи у верхньому регістрі. Якщо рядок порожній або не містить жодної літери - функція повинна повертати <b class="code">{% if is_js %}false{% else %}False{% endif %}</b>.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок (str{% if is_js %}ing{% endif %}).
</p>

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення (bool{% if is_js %}ean{% endif %}).
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Передумова:</strong>
    <i>a-z, A-Z, 1-9 і пробіл</i>.
</p>
