<!-- Describe task in general -->

<p>
    Proszę sprawdzić, czy podany ciąg znaków zawiera wszystkie symbole pisane wielkimi literami. Jeśli ciąg jest pusty lub nie ma w nim żadnej litery - funkcja powinna zwrócić <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Ciąg znaków <span translation="no">(str{% if is_js %}ing{% endif %}</span>).
</p>

<p>
   <strong>Wyjście:</strong> Wartość logiczna ( <span translation="no">bool{% if is_js %}</span> ean <span translation="no">{% endif %}). 
</span></p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
   <strong>Warunek wstępny:</strong>
   <i>a-z, A-Z, 1-9 i spacje</i>.
</p>
